In [1]:
import pandas as pd
from glob import glob

In [2]:
data_files = (glob('20*/cq*/endfile.csv'))
data_files

['2003\\cq1\\endfile.csv',
 '2003\\cq2\\endfile.csv',
 '2003\\cq3\\endfile.csv',
 '2003\\cq4\\endfile.csv',
 '2004\\cq1\\endfile.csv',
 '2004\\cq2\\endfile.csv',
 '2004\\cq3\\endfile.csv',
 '2004\\cq4\\endfile.csv',
 '2005\\cq1\\endfile.csv',
 '2005\\cq2\\endfile.csv',
 '2005\\cq3\\endfile.csv',
 '2005\\cq4\\endfile.csv',
 '2006\\cq1\\endfile.csv',
 '2006\\cq2\\endfile.csv',
 '2006\\cq3\\endfile.csv',
 '2006\\cq4\\endfile.csv',
 '2007\\cq1\\endfile.csv',
 '2007\\cq2\\endfile.csv',
 '2007\\cq3\\endfile.csv',
 '2007\\cq4\\endfile.csv',
 '2008\\cq1\\endfile.csv',
 '2008\\cq2\\endfile.csv',
 '2008\\cq3\\endfile.csv',
 '2008\\cq4\\endfile.csv',
 '2009\\cq1\\endfile.csv',
 '2009\\cq2\\endfile.csv',
 '2009\\cq3\\endfile.csv',
 '2009\\cq4\\endfile.csv',
 '2010\\cq1\\endfile.csv',
 '2010\\cq2\\endfile.csv',
 '2010\\cq3\\endfile.csv',
 '2010\\cq4\\endfile.csv',
 '2011\\cq1\\endfile.csv',
 '2011\\cq2\\endfile.csv',
 '2011\\cq3\\endfile.csv',
 '2011\\cq4\\endfile.csv',
 '2012\\cq1\\endfile.csv',
 '2012\\cq2\\endfile.csv',
 '2012\\cq3\\endfile.csv',
 '2012\\cq4\\endfile.csv',
 '2013\\cq1\\endfile.csv',
 '2013\\cq2\\endfile.csv',
 '2013\\cq3\\endfile.csv',
 '2013\\cq4\\endfile.csv',
 '2014\\cq1\\endfile.csv',
 '2014\\cq2\\endfile.csv',
 '2014\\cq3\\endfile.csv',
 '2014\\cq4\\endfile.csv',
 '2015\\cq1\\endfile.csv',
 '2015\\cq2\\endfile.csv',
 '2015\\cq3\\endfile.csv',
 '2015\\cq4\\endfile.csv',
 '2016\\cq1\\endfile.csv',
 '2016\\cq2\\endfile.csv',
 '2016\\cq3\\endfile.csv',
 '2016\\cq4\\endfile.csv',
 '2017\\cq1\\endfile.csv',
 '2017\\cq2\\endfile.csv',
 '2017\\cq3\\endfile.csv',
 '2017\\cq4\\endfile.csv',
 '2018\\cq1\\endfile.csv',
 '2018\\cq2\\endfile.csv',
 '2018\\cq3\\endfile.csv',
 '2018\\cq4\\endfile.csv',
 '2019\\cq1\\endfile.csv',
 '2019\\cq2\\endfile.csv',
 '2019\\cq3\\endfile.csv',
 '2019\\cq4\\endfile.csv',
 '2020\\cq1\\endfile.csv',
 '2020\\cq2\\endfile.csv',
 '2020\\cq3\\endfile.csv',
 '2020\\cq4\\endfile.csv',
 '2021\\cq1\\endfile.csv',
 '2021\\cq2\\endfile.csv',
 '2021\\cq3\\endfile.csv',
 '2021\\cq4\\endfile.csv']

In [110]:
for i in range(len(data_files)):
    df = pd.read_csv(data_files[i])
    df.columns = ['closedDate', 'dealvalue','transaction_id','taget_id','target_companytype','buyer_id']
    df.to_csv(data_files[i])

In [123]:
mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
                      for datafile in data_files)

In [124]:
mergeddata

,Unnamed: 0,closedDate,dealvalue,transaction_id,taget_id,target_companytype,buyer_id,sourcefilename
0,0,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ18759,2003\cq1\endfile.csv
1,1,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ21407,2003\cq1\endfile.csv
2,2,2/26/2003,148.400,IQTR6349813,IQ32586,Public Company,IQ26449,2003\cq1\endfile.csv
3,3,3/28/2003,28.360,IQTR3796458,IQ3796454,Private Company,IQ327481,2003\cq1\endfile.csv
4,4,3/11/2003,58.310,IQTR4803149,IQ183195,Private Company,IQ20803,2003\cq1\endfile.csv
...,...,...,...,...,...,...,...,...
9327,9327,10/25/2002,168.840,IQTR3207430,IQ127761,Private Company,IQ248356,2021\cq4\endfile.csv
9328,9328,10/1/2002,25.690,IQTR4679141,IQ4614857,Private Company,IQ2087645,2021\cq4\endfile.csv
9329,9329,10/1/2002,48.740,IQTR23796902,IQ25107,Private Company,IQ23121,2021\cq4\endfile.csv
9330,9330,11/22/2002,366.300,IQTR10120358,IQ9466547,Private Company,IQ19627,2021\cq4\endfile.csv
9331,9331,11/26/2002,68.680,IQTR2004692,IQ1497356,Private Company,IQ345779,2021\cq4\endfile.csv

In [116]:
for i in range(2005,2023):
    data_files = (glob(str(i)+'/cq*/endfile.csv'))
    for i in range(len(data_files)):
        df = pd.read_csv(data_files[i])
        df.columns = ['closedDate', 'dealvalue','transaction_id','taget_id','target_companytype','buyer_id']
        df.to_csv(data_files[i])
    mergeddata = pd.concat(pd.read_csv(datafile).assign(sourcefilename = datafile)
                          for datafile in data_files)

ValueError: Length mismatch: Expected axis has 7 elements, new values have 6 elements

In [125]:
mergeddata.to_csv('final.csv')

In [15]:
combined = pd.concat([pd.read_csv(f) for f in data_files])

In [17]:
combined.head(2000)

,closedDate,dealvalue,transaction_id,target_id,target_companytype,buyer_id,6/17/2003,177.37,IQTR6022396,IQ135242,...,40.05,IQTR25520983,IQ25520927,IQ6524045,11/17/2003,85.7533333333333,IQTR7770627,IQ877128,Public Company,IQ884178
0,2/25/2003,83.480,IQTR4612671,IQ27093,Private Company,IQ92699,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ18759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ21407,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2/26/2003,148.400,IQTR6349813,IQ32586,Public Company,IQ26449,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3/28/2003,28.360,IQTR3796458,IQ3796454,Private Company,IQ327481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,204.27,IQTR685313,IQ685195,IQ173840,NaN,NaN,NaN,NaN,NaN,NaN
604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136.12,IQTR9222250,IQ6739665,IQ415760,NaN,NaN,NaN,NaN,NaN,NaN
605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145.60,IQTR1022884,IQ1022830,IQ27504,NaN,NaN,NaN,NaN,NaN,NaN
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.20,IQTR692911,IQ692910,IQ21591,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.20,IQTR692911,IQ692910,IQ23350734,NaN,NaN,NaN,NaN,NaN,NaN